$blue: #1D7BC3;
$darkBlue: #094C7F;
$lightBlue: #52b3ff;
$green: #12CA7B;
$darkGreen: #06834E;
$lightGreen: #72E4B3;
$gold: #FF9C17;
$lightGold: #BF873D;
$darkGold: #A66207;
$orange: #FF5917;
$dark: hsl(0, 0%, 5%);
$offWhite: #DEDEDE;
