html {
    font-size: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    background-color: $dark;
}
header {
    min-height: 100vh;
    background-image: linear-gradient(black 70%, transparent 170%);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;

    &::before {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content:'';
        background: url('../img/car-repair.jpg') center/cover no-repeat fixed;
        opacity: 0.3;
    }
}
main {

}
section {
    padding: 3rem;
}
footer {
    background-color: rgba(255,255,255,0.05);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 3rem;
    color: white;
}

button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin: 1rem 0;
    background-color: $green;
    color: $dark;
    cursor: pointer;
    font-size: 2rem;
}