html {
    font-size: 62.5%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
* {
    box-sizing: border-box;
}
body {
    background-color: $light;
}
header {
    height: 100vh;
    background-image: linear-gradient($blue 70%, white 100%);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    position: relative;
}
main {

}
section {
    padding: 3rem;
}
footer {

}

button {
    padding: 1rem;
    border-radius: 0.5rem;
    border: none;
    outline: none;
    margin: 1rem 0;
    background-color: $green;
    color: white;
    cursor: pointer;
    font-size: 2rem;
}