@media only screen and (min-width: 520px) {
    .service-tile {
    }

}

@media only screen and (min-width: 700px) {
    .about {
        padding-top: 10rem;
    }
}

@media only screen and (min-width:820px) {

    .top-nav-links {
        display: flex;
        right: 1rem;
        position: relative;
        justify-content: flex-end;
        background-image: none;
        width: unset;
    }
    .top-nav-link {
        width: auto;
    }
    .top-nav-responsive {
        display: none;
    }
}

@media only screen and (min-width:1050px) and (min-height: 470px) {
    header {
        height: 100vh;
        justify-content: center;
    }
}