@media only screen and (max-height: 420px) {
    .home-header {
        height: 200vh;
    }
}

@media only screen and (min-width: 700px) {
    h1 {
        font-size: 4.5rem;
    }
}

@media only screen and (min-width:820px) {

    .about {
        padding: 15rem 4rem;
    }
    
    .top-nav-links {
        display: flex;
        right: 1rem;
        position: relative;
        justify-content: flex-end;
        background-image: none;
        width: unset;
    }

    .top-nav-link {
        width: auto;
    }

    .top-nav-responsive {
        display: none;
    }
}



@media only screen and (min-width:1050px) {
    .head-details {
        margin: 0;

        h1 {
            font-size: 5.5rem;
        }

        p {
            font-size: 2.5rem;
        }
    }

    .head-rating {
        .rating-stars {
            font-size: 4.5rem;
        }
    }

    .home-header {
        height: 100vh;
        justify-content: center;
    }
}

@media only screen and (min-width:1280px) {
    .service-tile {
        flex: 1 0 30%;
        max-width: 30%;
    }
}