<footer>
    <div class="footer-row">
        <div class="footer-contact">
            <h3>Contact Info</h3>
            <address>
                <p>Unit 4,</p>
                <p>Red Rose Trading Estate,</p>
                <p>Lancaster Rd,</p>
                <p>London,</p>
                <p>Barnet,</p>
                <p>EN4 8BZ</p>
                <a href="tel:+447789934355" title="Call Mobile Mechanic and Tyres">07789934355</a>
            </address>
        </div>
        <div class="footer-hours">
            <h3>Open Hours</h3>
            <p>Mon - Fri: 08:00 - 18:00</p>
            <p>Saturday: 08:00 - 18:00</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="footer-links">
            <h3>Useful Links</h3>
            <ul class="footer-list">
                <li class="footer-link" id="privacy">Privacy</li>
                <li class="footer-link" id="terms">Terms of Use</li>
            </ul>
        </div>
        <div class="footer-logos">
            <img src="<%- require('../../assets/img/logo-full-dark.svg') %>" height="50" alt="Mobile Mechanics and Tyres logo" />
            <a href="https://www.whocanfixmycar.com/garage/mobile-mechanic-and-tyres" rel="noopener noreferrer"
                target="_blank" title="Mobile Mechanics and Tyres on whocanfixmycar.com">
                <img src="<%- require('../../assets/img/who-can-fix-my-car-logo-light.svg') %>" height="50"
                    alt="Who Can Fix My Car logo" />
            </a>
        </div>
    </div>
</footer>
<template id="termsTemplate">
    <div class="wrapper">
        <div class="header">
            <h3>Terms of Use</h3>
            <p>By using this website you agree to the following terms and conditions:</p>
        </div>
        <div class="content">
            <h4>We use Google Analytics</h4>
            <p>
                Google Analytics is a simple tool which allows us to improve your experience on this website by checking
                which sections are used the most, and how many people use this website in general. The data collected is
                completely anonymous.
            </p>
            <h4>We can contact you back</h4>
            <p>
                If you use our contact forms to send us a message you agree that we are allowed to use your contact
                information to contact you back.
            </p>
            <h4>We use reCaptcha v3</h4>
            <p>
                Recaptcha v3 allows us to ensure our contact forms are not abused by bots while providing an entirely
                non-intrusive user experience.
            </p>
        </div>
        <div class="footer close" tabindex="0">Close</div>
    </div>
</template>
<template id="privacyTemplate">
    <div class="wrapper">
        <div class="header">
            <h3>Privacy Policy</h3>
            <p>The following is how we use your data</p>
        </div>
        <div class="content">
            <h4>We use Google Analytics</h4>
            <p>
                Google Analytics is a simple tool which allows us to improve your experience on this website by checking
                which sections are used the most, and how many people use this website in general. The data collected is
                completely anonymous.
            </p>
            <h4>We use you your contact info to reply to you</h4>
            <p>
                If you use our contact forms to send us a message we will obviously need to contact you back using the
                information you provide. Your information is not stored in any database and we will not use it for any
                reason other than contacting you about work we are completing on your behalf.
            </p>
            <h4>We use reCaptcha v3</h4>
            <p>
                Recaptcha v3 allows us to ensure our contact forms are not abused by bots while providing an entirely
                non-intrusive user experience. This is entirely anonymous and does not access and personal information.
            </p>
            <h4>We do not store data</h4>
            <p>
                We do not store any data which is entered into our contact forms. When you use one of our forms we will
                receive an email notification which will contain the information you provide. We will only use said
                information
                to communicate with you about the work you have requested.
            </p>
        </div>
        <div class="footer close" tabindex="0">
            Close
        </div>
    </div>
</template>
<div class="credit">
    Made with love by <a href="https://makingstuffs.co.uk" rel="noopener noreferrer" target="_blank"
        title="Making Stuffs - full stack web developer">Making Stuffs</a>
</div>