<!doctype html>
<html class="no-js" lang="en-GB">

<head>
  <meta charset="utf-8">
  <title>Mobile Mechanics and Tyres</title>
  <meta name="description" content="A website made with express and webpack">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
    <header>
      
    </header>

</body>

</html>