<!doctype html>
<html class="no-js" lang="en-GB">

<head>
  <meta charset="utf-8">
  <title>Mobile Mechanics and Tyres</title>
  <meta name="description" content="A website made with express and webpack">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <header>
    <nav class="top-nav">
      <img src="/assets/img/logo-full-dark.svg" height="50" class="top-nav-logo" />
      <div class="top-nav-links">
        <a href="#" class="top-nav-link" title="" rel="">Repairs</a>
        <a href="#" class="top-nav-link" title="" rel="">Tyres</a>
        <a href="#" class="top-nav-link" title="" rel="">About</a>
        <a href="#" class="top-nav-link" title="" rel="">Contact</a>
        <a href="#" class="top-nav-link" title="" rel="">Book</a>
      </div>
    </nav>
    <div class="head-content">
      <div class="head-details">
        <div class="head-title">
          <h1>Mobile Mechanic and Tyres</h1>
          <p>Taking the hassle out of vehicle repairs at a fair price.</p>
        </div>
        <div class="head-rating">
          <div class="rating-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="rating-info">
            <p>Fantastic rating - 4.9/5 (<a href="">450+ reviews</a>)</p>
          </div>
        </div>
      </div>
      <div class="quick-book">
        <form action="" name="quickBook" class="quick-book-form">
          <div class="quick-book-head">
            <h2 class="quick-book-head">Book a Repair</h2>
            <p>In a hurry? No problem! Get in contact below.</p>
          </div>
          <input type="text" name="regPlate" id="regPlate" placeholder="Reg Plate" />
          <label for="regPlate">Registration</label>
          <input type="text" name="postcode" id="postcode" placeholder="Postcode" />
          <label for="postcode">Postcode</label>
          <input type="number" name="phone" id="phone" placeholder="Phone Number" />
          <label for="phone">Phone Number</label>
          <input type="text" name="email" id="email" placeholder="Email Address" />
          <label for="email">Email Address</label>
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </header>
  <main>
    <section id="services" class="services">
      <div class="service-grid">
        <div class="service active" tabindex="0">
          <i class="fas fa-tools"></i>
        </div>
        <div class="service" tabindex="0">
          <i class="fas fa-stethoscope"></i>
        </div>
        <div class="service" tabindex="0">
          <i class="far fa-calendar-check"></i>
        </div>
        <div class="service" tabindex="0">
          <i class="fas fa-ambulance"></i>
        </div>
      </div>
      <div class="service-info">
        <div id="repair" class="service-info-content active">
          <h2>Comprehensive Vehicle Repairs</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod elit vel quam semper posuere. Cras rutrum suscipit velit sed pretium. Proin fermentum tristique justo, eleifend vehicula nibh aliquet at. Donec id leo molestie, fermentum lorem id, maximus ex. Cras a nisi id est volutpat imperdiet. Suspendisse potenti. Proin iaculis mi sit amet nisi placerat rhoncus. Nunc fringilla mattis massa, ac luctus leo cursus eget.</p>
          <button>More Info</button>
        </div>
        <div id="diagnosis" class="service-info-content"></div>
        <div id="servicing" class="service-info-content"></div>
        <div id="collection" class="service-info-content"></div>
      </div>
    </section>
    <section id="about" class="about">
      <div class="about-section">
        <h2>Why Choose Us?</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod elit vel quam semper posuere. Cras rutrum suscipit velit sed pretium. Proin fermentum tristique justo, eleifend vehicula nibh aliquet at. Donec id leo molestie, fermentum lorem id, maximus ex. Cras a nisi id est volutpat imperdiet. Suspendisse potenti. Proin iaculis mi sit amet nisi placerat rhoncus. Nunc fringilla mattis massa, ac luctus leo cursus eget.</p>
      </div>
    </section>
  </main>
  <footer>

  </footer>

</body>

</html>