<!doctype html>
<html class="no-js" lang="en-GB">

<head>
  <meta charset="utf-8">
  <title>Mobile Mechanics and Tyres</title>
  <meta name="description" content="A website made with express and webpack">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <meta name="theme-color" content="#fafafa">
</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->

  <!-- Add your site or application content here -->
  <header>
    <nav class="top-nav">
      <img src="/assets/img/logo-full-dark.svg" height="50" class="top-nav-logo" />
      <div class="top-nav-links">
        <a href="#" class="top-nav-link" title="" rel="">Repairs</a>
        <a href="#" class="top-nav-link" title="" rel="">Tyres</a>
        <a href="#" class="top-nav-link" title="" rel="">About</a>
        <a href="#" class="top-nav-link" title="" rel="">Contact</a>
        <a href="#" class="top-nav-link" title="" rel="">Book</a>
      </div>
    </nav>
    <div class="head-content">
      <div class="head-details">
        <div class="head-title">
          <h1>Mobile Mechanic and Tyres</h1>
          <p>Taking the hassle out of vehicle repairs at a fair price.</p>
        </div>
        <div class="head-rating">
          <div class="rating-stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="rating-info">
            <p>Fantastic rating - 4.9/5 (<a href="">450+ reviews</a>)</p>
          </div>
        </div>
      </div>
      <div class="quick-book">
        <form action="" name="quickBook" class="quick-book-form">
          <div class="quick-book-head">
            <h2 class="quick-book-head">Book a Repair</h2>
            <p>In a hurry? No problem! Get in contact below.</p>
          </div>
          <input type="text" name="regPlate" id="regPlate" placeholder="Reg Plate" />
          <label for="regPlate">Registration</label>
          <input type="text" name="postcode" id="postcode" placeholder="Postcode" />
          <label for="postcode">Postcode</label>
          <input type="number" name="phone" id="phone" placeholder="Phone Number" />
          <label for="phone">Phone Number</label>
          <input type="text" name="email" id="email" placeholder="Email Address" />
          <label for="email">Email Address</label>
          <input type="submit" value="Submit" />
        </form>
      </div>
    </div>
  </header>
  <main>
    <section id="services" class="services">
      <div class="service-heading">
        <img src="/assets/img/logo-dark.svg" width="70" />
        <h2>Our services</h2>
      </div>
      <div class="service-row">
        <div class="service-tile">
          <div class="service-content">
            <h2>Repairs</h2>
          </div>
        </div>
        <div class="service-tile">
          <div class="service-content">
            <h2>MOT & Servicing</h2>
          </div>
        </div>
        <div class="service-tile">
          <div class="service-content">
            <h2>Diagnosis</h2>
          </div>
        </div>
        <div class="service-tile">
          <div class="service-content">
            <h2>Collection & Dropoff</h2>
          </div>
        </div>
        <div class="service-tile">
          <div class="service-content">
            <h2>Tyre Replacement & Repair</h2>
          </div>
        </div>
        <div class="service-tile">
          <div class="service-content">
            <h2>Aircon Re-Gas</h2>
          </div>
        </div>
        <div class="service-tile">
          <div class="service-content">
            <h2>Machine Assembly & Building</h2>
          </div>
        </div>
      </div>
    </section>

    <section id="about" class="about">
      <div class="about-section">
        <div class="about-details">
          <h2>Why Choose Us?</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur euismod elit vel quam semper posuere.
            Cras rutrum suscipit velit sed pretium. Proin fermentum tristique justo, eleifend vehicula nibh aliquet at.
            Donec id leo molestie, fermentum lorem id, maximus ex. Cras a nisi id est volutpat imperdiet. Suspendisse
            potenti. Proin iaculis mi sit amet nisi placerat rhoncus. Nunc fringilla mattis massa, ac luctus leo cursus
            eget.</p>
        </div>
        <div class="about-imgs">
          <a href="https://www.whocanfixmycar.com/networks/brembo" rel="noopener noreferrer" target="_blank" title="">
            <img src="/assets/img/brembo-logo.jpg" alt="" height="100">
          </a>
          <a href="https://www.whocanfixmycar.com/networks/luk" rel="noopener noreferrer" target="_blank" title="">
            <img src="/assets/img/luk-logo.jpg" alt="" height="100">
          </a>
          <a href="https://www.whocanfixmycar.com/networks/fag" rel="noopener noreferrer" target="_blank" title="">
            <img src="/assets/img/fag-logo.png" alt="" height="100">
          </a>
          <a href="https://www.whocanfixmycar.com/networks/shell" rel="noopener noreferrer" target="_blank" title="">
            <img src="/assets/img/shell-helix-logo.png" alt="" height="100">
          </a>
          <a href="https://www.whocanfixmycar.com/networks/ina" rel="noopener noreferrer" target="_blank" title="">
            <img src="/assets/img/ina-logo.gif" alt="" height="100">
          </a>
          <a href="https://www.whocanfixmycar.com/networks/varta" rel="noopener noreferrer" target="_blank" title="">
            <img src="/assets/img/varta-logo.png" alt="" height="100">
          </a>
        </div>
      </div>
    </section>
    <section id="contact" class="contact">
      <div class="contact-info">

      </div>
      <div class="contact-form">
        <form id="contact-form" class="contact-form">
          <div class="contact-head">
            <h2 class="contact-head">Get In Contact</h2>
            <p>Get in contact with us and we will be in touch ASAP</p>
          </div>
          <input type="text" name="regPlate" id="contactRegPlate" placeholder="Reg Plate" />
          <label for="contactRegPlate">Registration</label>
          <input type="text" name="postcode" id="contactPostcode" placeholder="Postcode" />
          <label for="contactPostcode">Postcode</label>
          <input type="number" name="phone" id="contactPhone" placeholder="Phone Number" />
          <label for="contactPhone">Phone Number</label>
          <input type="text" name="email" id="contactEmail" placeholder="Email Address" />
          <label for="contactEmail">Email Address</label>
          <input type="submit" value="Submit" />
        </form>
      </div>
    </section>
  </main>
  <footer>

  </footer>

</body>

</html>