<footer>
    <div class="footer-row">
        <div class="footer-contact">
            <h3>Contact Info</h3>
            <address>
                <p>Unit 4,</p>
                <p>Red Rose Trading Estate,</p>
                <p>Lancaster Rd,</p>
                <p>London,</p>
                <p>Barnet,</p>
                <p>EN4 8BZ</p>
                <a href="tel:+447789934355" title="Call Mobile Mechanic and Tyres">07789934355</a>
            </address>
        </div>
        <div class="footer-hours">
            <h3>Open Hours</h3>
            <p>Mon - Fri: 08:00 - 18:00</p>
            <p>Saturday: 08:00 - 18:00</p>
            <p>Sunday: Closed</p>
        </div>
        <div class="footer-links">
            <h3>Useful Links</h3>
            <ul class="footer-list">
                <li class="footer-link">Privacy</li>
                <li class="footer-link">Terms of Use</li>
                <li class="footer-link">Legal</li>
            </ul>
        </div>
        <div class="footer-logos">
            <img src="../../assets/img/logo-full-dark.svg" height="50" alt="Mobile Mechanics and Tyres logo" />
            <a href="https://www.whocanfixmycar.com/garage/mobile-mechanic-and-tyres" rel="noopener noreferrer"
                target="_blank" title="Mobile Mechanics and Tyres on whocanfixmycar.com">
                <img src="../../assets/img/who-can-fix-my-car-logo-light.svg" height="50"
                    alt="Who Can Fix My Car logo" />
            </a>
        </div>
    </div>
</footer>
<div class="credit">
    Made with love by <a href="https://makingstuffs.co.uk" rel="noopener noreferrer" target="_blank"
        title="Making Stuffs - full stack web developer">Making Stuffs</a>
</div>