<nav class="top-nav">
    <img src="../../assets/img/logo-dark.svg" height="50" class="top-nav-logo"
        alt="Mobile Mechanics and Tyres short logo" />
    <div class="top-nav-links">
        <a href="/#intro" class="top-nav-link" title="Home">Home</a>
        <a href="/#services" class="top-nav-link" title="Services">Services</a>
        <a href="/#about" class="top-nav-link" title="About">About</a>
        <a href="/#contact" class="top-nav-link" title="Contact">Contact</a>
    </div>
    <button aria-label="Expand nav bar" class="top-nav-responsive"><i class="fas fa-bars"></i></button>
</nav>