<div class="service-heading">
    <h2>Popular Services</h2>
  </div>
  <div class="service-row">

    <div class="service-tile" tabindex="0">
      <div class="service-tile-inner">
        <div class="service-tile-front">
          <div class="service-head">
            <h3>Vehicle Repair</h3>
          </div>
          <div class="service-image mot">
          </div>
          <div class="service-content">
            <p>
              We have a proven track record with over 12 years of experience in the industry, so you can rest
              assured that your vehicle is in safe hands.
            </p>
          </div>
          <div class="service-footer">
            <span>Turn over</span><i class="fas fa-angle-double-right"></i>
          </div>
        </div>
        <div class="service-tile-back">
          <div class="service-head">
            <h3>Vehicle Repair</h3>
          </div>
          <div class="service-content">
            <h4>How Do You Calculate Cost?</h4>
            <p>We price all jobs based on a fixed labour fee of <strong>£60 per hour</strong> plus any charges incurred for replacement parts, vehicle collection/drop off and fault diagnosis.</p>
            <h4>How does it work?</h4>
            <p>If you already know what is wrong with your vehicle then it is a simple matter of us buying any required parts and fitting them (on which we will update you consistently while your car is in our hands). If you are unaware of the issue we will use our diagnostic equipment to identify any required repairs and then inform you of our findings before carrying out any work.</p>
          </div>
          <div class="service-footer">
            <span>Turn over</span><i class="fas fa-angle-double-right"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="service-tile" tabindex="0">
      <div class="service-tile-inner">
        <div class="service-tile-front">
          <div class="service-head">
            <h3>Fault Diagnosis</h3>
          </div>
          <div class="service-image diagnosis">
          </div>
          <div class="service-content">
            <p>If you aren't quite sure what is wrong with your vehicle, we'd be happy to take a look at it and provide you with a comprehensive report of our findings. </p>
          </div>
          <div class="service-footer">
            <span>Turn over</span><i class="fas fa-angle-double-right"></i>
          </div>
        </div>
        <div class="service-tile-back">
          <div class="service-head">
            <h3>Fault Diagnosis</h3>
          </div>
          <div class="service-content">
            <h4>How Much Does it Cost?</h4>
            <p>Usually we will incorporate diagnosis into the final price which we quote for the work carried out. However, if you just wish for a diagnosis the price is <strong>£35</strong>.</p>
            <h4>How Does it Work?</h4>
            <p>Our first port of call will always be to listen to any symptoms which you may have noticed. Once we have an idea of where the problem lies we will hook the vehicle up to our diagnostic equipment and check for any fault codes. Upon detection of an issue we will contact you and inform you of your options regarding repair.</p>
          </div>
          <div class="service-footer">
            <span>Turn over</span><i class="fas fa-angle-double-right"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="service-tile" tabindex="0">
      <div class="service-tile-inner">
        <div class="service-tile-front">
          <div class="service-head">
            <h3>MOT & Servicing</h3>
          </div>
          <div class="service-image mot">
          </div>
          <div class="service-content">
            <p>
             Is your annual MOT creeping up on you? We are fully certified to carry out MOT inspections and issue certifications to vehicles which successfully pass.
            </p>
          </div>
          <div class="service-footer">
            <span>Turn over</span><i class="fas fa-angle-double-right"></i>
          </div>
        </div>
        <div class="service-tile-back">
          <div class="service-head">
            <h3>MOT & Servicing</h3>
          </div>
          <div class="service-content">
            <h4>How Long Does it Take?</h4>
            <p>Generally speaking an MOT examination will take between <strong>45 and 60 minutes</strong> although this can vary depending on the vehicle and whether there are any complications.</p>
            <h4>How Much Does it Cost?</h4>
            <p>We charge a flat fee of <strong>£50</strong> for an MOT examination. If your vehicle fails the initial examination we will inform you of any repairs which are required to make it roadworthy and, if you allow us to complete said repairs, we will retest your vehicle for free.</p>
          </div>
          <div class="service-footer">
            <span>Turn over</span><i class="fas fa-angle-double-right"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="service-tile" tabindex="0">
      <div class="service-tile-inner">
        <div class="service-tile-front">
          <div class="service-head">
            <h3>Tyre Replacement & Repair</h3>
          </div>
          <div class="service-image tyre">
          </div>
          <div class="service-content">
            <p>
              Have you got a slow puncture or flat tyre? If so, we are able to collect your vehicle from its current location and replace the faulty tyre.
            </p>
          </div>
          <div class="service-footer">
            <span>Turn over</span><i class="fas fa-angle-double-right"></i>
          </div>
        </div>
        <div class="service-tile-back">
          <div class="service-head">
            <h3>Tyre Replacement & Repair</h3>
          </div>
          <div class="service-content">
            <h4>How Much Does it Cost?</h4>
            <p>Due to the widely varying price of tyres (dependant on brand, size, tread and condition) we cannot give a one price fits all quote. If you find yourself in need of a tyre give us a call on <a href="tel:+447789934355" title="Mobile Mechanic and Tyres phone number">07789 934355</a> or pay a visit to our garage.</p>
            <h4>How Does it Work?</h4>
            <p>If you can drive your vehicle to our garage we will assess the status of the tyre which requires our attention and then inform you of your options regarding replacement or repair. If your tyre is completely flat we can arrange to have your vehicle picked up and then inform you of your options regarding a replacement.</p>
          </div>
          <div class="service-footer">
            <span>Turn over</span><i class="fas fa-angle-double-right"></i>
          </div>
        </div>
      </div>
    </div>

    <div class="service-tile" tabindex="0">
      <div class="service-tile-inner">
        <div class="service-tile-front">
          <div class="service-head">
            <h3>Collection & Drop off</h3>
          </div>
          <div class="service-image collect">
          </div>
          <div class="service-content">
            <p>
              If, for whatever reason, you can't get your vehicle to us we'd be happy to come and collect it from its current location. We can also arrange to have your car returned to a location of your choice, when it is repaired.
            </p>
          </div>
          <div class="service-footer">
            <span>Turn over</span><i class="fas fa-angle-double-right"></i>
          </div>
        </div>
        <div class="service-tile-back">
          <div class="service-head">
            <h3>Collection & Drop off</h3>
          </div>
          <div class="service-content">
            <h4>How Much Does it Cost?</h4>
            <p>If your vehicle is within 10 miles of our garage we would be happy to collect it vehicle from its current location and drop it off when we have completed the necessary repairs free of charge. For vehicles which are over 10 miles away please call our garage on <a href="tel:+447789934355" title="Call Mobile Mechanic and Tyres">07789934355</a> to get a quote.</p>
            <h4>How Does it Work?</h4>
            <p>When you contact us to book your vehicle into our garage we will ask you if you would like it to be collected and then work out a time which is convenient for you. We will then arrive with a courtesy car (at no extra cost) which you can use freely until your vehicle has been repaired and returned to you.</p>
          </div>
          <div class="service-footer">
            <span>Turn over</span><i class="fas fa-angle-double-right"></i>
          </div>
        </div>
      </div>
    </div>
    
  </div>