:host {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    content: '';
    top: 0;
    left: 0;
    z-index: 100;
}

* {
    box-sizing: border-box;
}
h3, h4 {
    font-weight: 400;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.8)
}

a {
    color: inherit;
    transition: 0.5s ease-in-out;

    &:hover {
        background-color: #72E4B3;
    }
}

.wrapper {
    background-color: white;
    min-width: 28rem;
    max-width: 60rem;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
    position: fixed;
    left: 50%;
    top: 50%;
    transition: 0.5s;
}

.wrapper:not(.active) {
    transform: translate(-50%, -200%);
}

.wrapper.active {
    transform: translate(-50%, -50%);
}

.header {
    width: 100%;
    text-align: center;
    background-color: #094C7F;
    padding: 2rem;
    color: rgba(white, 0.95);
    border-radius: 1rem 0 0 0;

    p {
        color: rgba(white, 0.85);
    }
}

.content {
    width: 100%;
    padding: 3rem;
    overflow-y: scroll;
}

.footer {
    padding: 2rem;
    cursor: pointer;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    background-color: #dedede;
    color: rgba(black, 0.85);
    transition: 0.5s ease-in-out;
    height: 6rem;
    border-radius: 0 0 1rem 0;

    &:hover {
        background-color: #FF5917;
    }
}